.header {
  font-family: 'Futura', 'Avenir', sans-serif;
  font-size: 1.2rem;
  border-bottom: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #ce9665;
  }

  .title {
    display: flex;
    align-self: center;
    padding-left: 20px;
  }

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;

    li {
      padding-right: 20px;
    }
  }
}

.page {
  border-bottom: black solid 4px;
}
